backend/platforms/cookies.txt
dockerignore
dockerfile
fly.toml
__pycache__/
*.py[cod]
*$py.class

# venvs
venv/
ENV/
env/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

Thumbs.db

# frontend

frontend/.next/
frontend/node_modules
frontend/out/
frontend/.vercel/
frontend/npm-debug.log*
frontend/.vercel
frontend/build